@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Source+Serif+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Body  */

body {
  display: absolute;
  font-family: Raleway, sans-serif, Source Serif Pro, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.5;
}

body a {
  text-decoration: none;
}

body header {
  background-color: white;
  font-family: Raleway, sans-serif, Source Serif Pro, sans-serif;
  line-height: 1.5;
}

body main {
  display: absolute;
  background-color: white;
  font-family: Raleway, sans-serif, Source Serif Pro, sans-serif;
  line-height: 1.5;
}

body footer {
  background-color: #AEC1BA;
  display: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Hero Image */

.hero-image,
.hero-image-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.hero-image img {
  flex: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.hero-image-top img {
  flex: 1;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 600;
  font-family: Raleway, sans-serif;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.hero-image:hover .image-overlay {
  opacity: 0.7;
}

.hero-image:hover .middle {
  opacity: 1;
}

.hero-image:hover .title-text {
  opacity: 1;
}

.hero-image-top:hover .image-overlay {
  opacity: 0.7;
}

.hero-image-top:hover .middle {
  opacity: 1;
}

.hero-image-top:hover .title-text {
  opacity: 1;
}

.text-box-hover {
  background-color: #CF755A;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: Raleway, sans-serif;
  padding: 16px 32px;

}

/* Logo Banner */

.logo-banner {
  background-color: #D8D5BF;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


#logo {
  /* keeping this logo as an id so it can be used in a hyperlink */
  font-weight: bold;
  font-size: 40px;
  color: #CF755A;
  font-family: Raleway, sans-serif;
  padding-top: 25px;
  padding-left: 50px;
  text-decoration: none;
  align-self: flex-end;
}

.logo2 {
  font-weight: 600;
  font-size: 16px;
  color: #464646;
  font-family: Raleway, sans-serif;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 8px;
  align-self: flex-end;
}

/* Menu */

.navbav,
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 110%;
  letter-spacing: 2px;
  padding-left: 50px;
}

.menu li {
  list-style-type: none;
  margin-right: 25px;
}

.menu a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #464646;
  font-family: Raleway, sans-serif;
  letter-spacing: 2px;
}

.menu a:hover,
.active {
  border-bottom: 2px solid #CF755A;
  font-weight: bold;
}


/* Gallery Grid for Index and Destination Pages */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 530px);
  grid-template-rows: repeat(4, 360px);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-column,
.gallery-column-center {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gallery-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.gallery-column-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-column:hover .image-overlay {
  opacity: 0.7;
}

.gallery-column-center:hover .image-overlay {
  opacity: 0.7;
}

.gallery-column i,
.gallery-column-center i {
  color: white;
  font-size: 7em;
}

.gallery-container2 {
  display: grid;
  grid-template-columns: repeat(2, 530px);
  grid-template-rows: repeat(2, minmax(360px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

h4 {
  display: none;
}

  .gallery-column2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .gallery-column2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .image-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-column2:hover .image-overlay2 {
    opacity: 0.7;
  }

  .text-overlay2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
    font-family: Raleway, sans-serif;

  }

  /* About Page Body and Gallery */

  .about-body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-body-container h3 {
    display: none;
  }

  .about-textbox {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .about-heading {
    font-family: Raleway, sans-serif;
    font-weight: Bold;
    font-size: 48px;
    color: black
  }

  .about-text {
    font-family: Source Serif Pro, sans-serif;
    font-weight: regular;
    font-size: 16px;
    color: #737373
  }

  .about-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    --small-image-width: 252px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .about-small-images {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .about-small-images img {
    width: 100%;
    max-width: var(--small-image-width);
    max-height: 200px;
  }

  .bottom-image {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: calc(2 * var(--small-image-width));
    max-height: 200px;
    overflow: hidden;
  }

  .bottom-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
  }

/* Contact Us Form */

.contact-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 20px solid #AEC1BA;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-form {
  background-color: white;
  max-width: 300px;
  padding: 2em;
  color: #464646;
  border-color:#AEC1BA;
}

.contact-title h5 {
  font-family: Raleway, sans-serif;
  font-weight: Bold;
  font-size: 48px;
  color: black
}

.contact-form-image {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 40%;
}

.contact-form-image img {
  max-width: 100%;
  height: auto;
}

.text-input-contact {
  border-color:#AEC1BA;
}

.text-input-contact:hover {
  border-color: #f16c6b;
}

.submit-button {
  margin-top: 2%;
  border-radius: 2px;
  padding: 1em 2em;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: #fafafa;
  color: #f16c6b;
} 

/* Footer Banner */

.footer-text-container {
  display: absolute;
  flex-direction: column;
  align-items: center;
}


.footer-text {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.copyright-text {
  color: #737373;
  font-family: Source Serif Pro, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  display: absolute;
}


.social-networks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-networks li {
  margin: 0 10px;
}

.social-networks i {
  font-size: 200%;
  text-align: center;
  color: #CF755A;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

@media screen and (max-width: 885px) {

  .gallery-container,
  .gallery-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
  }


  .gallery-column,
  .gallery-column-center {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .text-overlay2 {
    font-size: 16px;
    top: 50%;
  }
}

@media screen and (max-width: 768px) {
  .logo-banner {
    flex-wrap: wrap;
    padding: 10px;
  }

  #logo {
    padding: 0;
    margin-bottom: 10px;
  }

  .menu {
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 10px;
  }

  .menu li {
    margin: 0 10px 10px 0;
  }
}

@media screen and (max-width: 885px) {
  .text-overlay {
    padding-bottom: 15%;
  }
}